$black: #000;
$white: #fff;
$white-t: rgba(255, 255, 255, 0.2);
$neon-green: #39ff14;
$main-dark-blue: #1a1d29;
$sec-dark-blue: #1f2330;
$scroll-dark-blue: #2d303a;
$orange-red: #f24624;
$orange-red-t: rgba(242, 70, 36, 0.5);
$yellow-torrado: #f2c424;
$yellow-torrado-t: rgba(242, 196, 36, 0.3);