
// variables for size
$sidenav-size: 160px;
$nav-height: 80px;

// text stuff
@mixin default-text() {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: $white;
}
