@import "@app/index";


:host {
    .sidenav {
        height: 100%;
        width: $sidenav-size;

        position: fixed;
        top: 0;
        left: 0;

        overflow: hidden;
        background-color: $sec-dark-blue;
        
        padding-top: $nav-height;

        &.collapsed {
            background-color: red;
            display: none;
        }

        .sidenav-item {
            padding: 16px;
            .mat-icon {
                display: inline;
                vertical-align: middle;
                font-size: 20px;
                margin-right: 8px;
            }
            a {
                @include default-text();
                display: inline;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}