@import "@app/index";

:host{
    .game-card {
        padding: 8px;
        border-radius: 4px;
        background-color: $sec-dark-blue;

        width: fit-content;
        height: 95%;

        cursor: pointer;

        .game-header {
            position: relative;
            text-align: center;

            img {
                width: 100%;
            }

            .tag{
                position: absolute;
                top: 0;

                border: 1px solid;
                border-bottom-right-radius: 8px;
                width: 75px;

                border-color: $white;
                color: $white;
                background-color: $white-t;

                text-transform: capitalize;

                &.hot {
                    border-color: $orange-red;
                    color: $orange-red;
                    background-color: $orange-red-t;
                }

                &.trending {
                    color: $yellow-torrado;
                    border-color: $yellow-torrado;
                    background-color: $yellow-torrado-t;
                }
            }
        }
        .game-info {
            padding: 8px;

        }
    }
}