<ng-container *ngIf="gameData">
    <div class="game-card" (click)="emitRedirect($event)">
        <div *ngIf="!hidesHeader" class="game-header">
            <img [src]="gameData.thumb ? gameData.thumb.url : '/assets/images/missing-game-pic.jpg'" alt="game-pic" />
            <div *ngIf="gameData.tag" [ngClass]="'tag ' + gameData.tag">{{ gameData.tag }}</div>
        </div>
        <div class="game-info">
            <h3>
                {{ gameData.title || "Game has no title available" }}
            </h3>
            <p>
                provider: {{ gameData.providerName || "Info not available" }}
            </p>
        </div>
    </div>
</ng-container>
