@import "@app/index";

:host {
	.app-home {
		&__title {
			text-align: center;
		}
	
		&__game-list-area {
   			@include grid-layout(4, 20px, 200px);

			.game-item {
				// width: 200px;
				// height: 300px;
				max-width: 300px;
				justify-self: center;
			}
		}
	}
}
