<ng-container *ngIf="gameData" >
    <div class="game-content">
        <h1>
            {{ gameData.title }}
        </h1>
        <p *ngIf="gameData.description">
            {{ gameData.description }}
        </p>

        <ng-container *ngIf="gameData.startUrl; else noLinkAvailable">
            <button *ngIf="!playGame" class="play-button" (click)="showGameIframe($event)">
                <img [src]="gameData.thumb ? gameData.thumb.url : '/assets/images/missing-game-pic.jpg'" alt="game-pic" />
                <p> Play for Fun! </p>
            </button>
            <iframe *ngIf="playGame" class="iframe-class" [src]="iframeURL(gameData.startUrl)" width="100%" height="500px"></iframe>
            <p>
                Alternatively, you can <a [href]="gameData.startUrl" target="_blank">click here</a> to open on a new window.
            </p>
        </ng-container>
        <ng-template #noLinkAvailable>
            Oops, looks like current game is unnavailable.
        </ng-template>
    </div>
</ng-container>