@import "@app/index";

:host {

    .page-title-area {
        text-align: center;
    }

    .search-page {
        .filter-area {
            margin-bottom: 16px;

            .filter {
                margin-right: 32px;
            }
            
            button {
                border: $white 1px solid;
                border-radius: 6px;
                padding: 12px;
                background: $main-dark-blue;

                @include default-text();

                &:hover {
                    background-color: $sec-dark-blue;
                }
            }
        }
    
        .game-list-area {
            @include grid-layout(6, 20px, 150px);
    
            .game-item {
                // width: 200px;
                // height: 300px;
                max-width: 300px;
                justify-self: center;
            }
        }
    }
	
}
