<ng-container>
    <header class="page-title-area">
        <h1> River Casino </h1>
        <h3> Search for any game available at this casino </h3>
    </header>
    
    <div class="search-page">
        <form [formGroup]="formGroup"  class="filter-area">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search for a game by its title</mat-label>
                 <input matInput [formControlName]="'search'" type="text"/>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Providers</mat-label>
                <mat-select [formControlName]="'providers'" multiple>
                  <mat-option *ngFor="let provider of providers" [value]="provider">{{provider}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button (click)="resetProviders($event)">
                Reset Providers
              </button>
        </form>
        <div class="game-list-area">
            <ng-container *ngFor="let game of (gameData | gameSearchFilter: getCurrentSearch():getCurrentProviders())">
                <app-game-search class="game-item" [gameData]="game" (gameRedirect)="redirectGamePage($event)"></app-game-search>
            </ng-container>
        </div>
        <p *ngIf="!(gameData | gameSearchFilter: getCurrentSearch():getCurrentProviders()).length">
            No games found with current filters.<br>
            Please try again with other options.
        </p>
    </div>    
</ng-container>